@import "bourbon/bourbon"
@import "vars"
@import "fonts"
@import "libs"


/* Base styles of the project */

html
    font-size: 100%
    overflow-y: scroll
    -webkit-text-size-adjust: 100%

body
    position: relative
    min-width: 320px
    background-color: $bg-color-body
    font-family: $font-family-default
    font-size: 15px
    color: $text-color-dark
    line-height: $line-height-default
    overflow-x: hidden


/* Headings */

h1
    font-family: $font-family-headings
    font-size: 60px
    line-height: 85px
    color: #ffffff

h2
    font-family: $font-family-headings
    font-size: 50px
    font-weight: 700
    line-height: 80px
    color: #313131

h3
    font-family: $font-family-default
    font-size: 30px
    line-height: 80px
    color: #ffffff

h4
    font-family: $font-family-default
    font-size: 25px
    color: #272727

h5
    font-family: $font-family-default
    font-size: 20px
    line-height: 80px
    color: #313131

h6
    font-family: $font-family-default
    font-size: 18px
    line-height: 26px
    color: #272727


/* Form inputs */

input[type='text'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type='file'],
input[type='password'],
textarea
    height: 50px
    padding: 0 10px 0 40px
    margin-bottom: 15px
    color: #000
    font-size: 14px
    background: #ffffff
    border: 1px solid #efefef
    border-radius: 4px
    +placeholder
        color: #616161
        font-size: 16px
    &:focus
        outline: none
        box-shadow: none
        border-color: darken(#efefef, 20%)

textarea
    height: auto
    resize: none
    min-height: 100px


/* Link */

a
    color: $link-color
    text-decoration: none
    &:hover
        text-decoration: none
        color: (darken($link-color, 20%))
    &:focus
        outline: 0

/* Buttons */

.btn, a.btn
    cursor: pointer
    display: inline-block
    vertical-align: middle
    padding: 13px 43px
    font-size: 16px
    font-weight: 600
    line-height: $line-height-default
    text-decoration: none
    text-transform: uppercase
    color: #000
    border: none
    border-radius: 25px
    transition: 0.5s
    &:hover
        transition: 0.5s
        outline: 0
    &:focus
        outline: 0



/* Icons */

i[class*="ic-"]
    position: relative
    display: inline-block
    vertical-align: middle


/* Floats */

.fl
    float: left
.fr
    float: right


/* Text align*/

.text-center
    text-align: center !important
.text-left
    text-align: left !important
.text-right
    text-align: right !important


/* Background color */

.bg-white
    background-color: $bg-color-body

.bg-grey
    background-color: $bg-color-section


/* Colored text */

.dark-orange
    color: $orange-dark

.orange-light
    color: $orange-light

.green-light
    color: $green-light

.purple
    color: $purple


/* Description */

.description
    color: $text-color-dark
    font-size: 15px


/* Row positions */

.relative
    position: relative

.absolute
    position: absolute
    top: 0
    left: 0


/* Numeration */

.numeration
    position: absolute
    top: 0
    line-height: 0.9
    font-size: 193px
    opacity: 0.3
    color: #e0e0e0
    font-weight: bold


/* Underheading text*/

.underheading-text
    color: $text-color-dark
    font-size: 18px


/* Border lines */

.dk-orange_border-bot
    border-bottom: 3px solid $orange-dark


.lt-orange_border-bot
    border-bottom: 3px solid $orange-light

.lt-green_border-bot
    border-bottom: 3px solid $green-light

.purple_border-bot
    border-bottom: 3px solid $purple



.dk-orange_border-top
    border-top: 3px solid $orange-dark

.lt-orange_border-top
    border-top: 3px solid $orange-light

.lt-green_border-top
    border-top: 3px solid $green-light

.purple_border-top
    border-top: 3px solid $purple



/* Fixed header */

.header-fixed
    position: fixed
    background-color: $bg-color-body
    top: 0
    right: 0
    left: 0
    border-bottom: 1px solid #f7f7f7
    opacity: 0.9
    z-index: 1
    -webkit-transition: ease 0.2s
    -moz-transition: ease 0.2s
    -ms-transition: ease 0.2s
    -o-transition: ease 0.2s
    transition: ease 0.2s


/* Inline block */

.inline-block
    display: inline-block

.no-padding
    padding: 0
/*----------------------------*/