@import "bourbon/bourbon"

$font-family-default: 'Roboto Regular', $helvetica
$font-family-headings: 'Georgia', $georgia

$line-height-default: 1.2
$line-height-paragraph: 1.3

$background-color: #eee

$text-color: #000
$text-color-dark: #fff
$text-color-lightest: #fff

$link-color: #ffffff
$link-color-dark: #fff
$link-color-light: #fff

$border-color: #fff
$border-color-dark: #fff
$border-color-light: #fff

$button-color: #fff
$button-color-dark: #fff
$button-color-light: #fff


