@import "bourbon/bourbon"
@import "vars"
@import "base"


/* Header styles */

#header

    .logo
        padding-top: 15px
        a
            font-family: 'Lobster', cursive
            font-size: 34px
            color: $text-color-dark
            span
                color: $orange-dark

    .navbar
        padding: 30px 15px
        li
            display: inline-block
            margin-left: 20px
            a
                display: inline-block
                font-size: 14px
                transition: 0.4s
                &:focus, &:hover
                    color: $orange-dark
                    text-decoration: none
                    transition: 0.4s



/* Section Home styles */

#home
    position: relative
    background: url("../img/home_bg.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover
    height: 850px

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.65)

        h1
            padding-top: 9rem

        .home-btn
            margin-top: 55px
            margin-bottom: 135px
            .btn
                background-color: $orange-dark
                color: #ffffff
                &:hover
                    background-color: darken($orange-dark, 7%)

        .home-block
            p
                margin-top: 35px
                text-transform: uppercase



/* Section About Us styles */

#about
    height: 950px
    padding: 150px 15px
    .about-img
        display: inline-block
        position: relative
        &:before
            content: ''
            position: absolute
            display: block
            top: 0
            left: 0
            width: 100%
            height: 100%
            border: 0.667em solid rgba(0, 0, 0, 0.2)
            background: linear-gradient(to top, rgba(252, 95, 69, 0.29) 0%, rgba(0, 0, 0, 0) 100%)

    .about-content
        position: relative
        background-color: #fff
        margin-top: 60px
        padding: 60px 90px 80px
        overflow: hidden
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)

        .numeration
            top: 0
            left: 0

    table
        width: 100%
        td
            width: 25%
            height: 3px



/* Section Focus styles */

#focus
    padding: 0 0 130px 0
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

    .focus-block
        padding: 65px 25px
        margin-top: 80px
        img
            height: 45px



/* Section Awesomeness styles */

#awesomeness
    position: relative
    height: 500px
    background: url("../img/parallax_bg_1.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.65)
        h3
            margin-top: 130px
        p
            margin-top: 30px
            color: $text-color-light



/* Section Portfolio styles */

#portfolio
    background-color: $bg-color-body
    padding: 0 0 130px
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

    /*-- Hover effect on Portfolio items --*/

    .view
        max-width: 100%
        height: 100%
        margin: 10px
        float: left
        overflow: hidden
        position: relative
        text-align: center
        box-shadow: 1px 1px 10px #e6e6e6
        cursor: default

    .view .mask,
    .view .content
        max-width: 100%
        height: 100%
        position: absolute
        overflow: hidden
        top: 0
        left: 0

    .view
        img
            max-width: 100%
            display: block
            position: relative

    .view
        h4
            text-transform: uppercase
            color: #fff
            text-align: center
            position: relative
            line-height: $line-height-default
            padding: 10px
            background: rgba(0, 0, 0, 0.8)
            margin: 20px 0 0 0

    .view
        p
            font-family: "Poppins", sans-serif
            font-style: italic
            font-size: 12px
            position: relative
            color: #fff
            padding: 20px 5px 0
            text-align: center

    .view
        a.info
            display: inline-block
            text-decoration: none
            padding: 10px 22px
            line-height: $line-height-default
            background: $orange-dark
            color: #fff
            text-transform: uppercase
            box-shadow: 0 0 1px #000
            -webkit-border-radius: 25px
            -moz-border-radius: 25px
            border-radius: 25px

    .view
        a.info:hover
            box-shadow: 0 0 5px #000


    /*--------------------------------------*/


    .view-first
        img
            transition: all 0.2s linear

    .view-first
        .mask
            opacity: 0
            background-color: rgba(38, 39, 50, 0.65)
            transition: all 0.4s ease-in-out

    .view-first
        h2
            transform: translateY(-100px)
            opacity: 0
            transition: all 0.2s ease-in-out

    .view-first
        p
            transform: translateY(100px)
            opacity: 0
            transition: all 0.2s linear

    .view-first
        a.info
            opacity: 0
            transition: all 0.2s ease-in-out


    /*--------------------------------------*/


    .view-first:hover
        img
            transform: scale(1.1)

    .view-first:hover
        .mask
            border: 10px solid #fff
            opacity: 1

    .view-first:hover h2,
    .view-first:hover p,
    .view-first:hover a.info
        opacity: 1
        transform: translateY(0px)

    .view-first:hover
        p
            transition-delay: 0.1s

    .view-first:hover
        a.info
            transition-delay: 0.3s

    /*-- End of hover effect on Portfolio items --*/


/* Section Team styles */

#team
    padding: 0 0 130px 0
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

    .person
        h6
            margin-top: 20px


    .person-about
        margin-top: 50px
        padding: 75px 0
        &:before
            content: ""
            position: absolute
            bottom: 83%
            left: 8%
            border-width: 50px
            border-style: solid
            border-color: transparent transparent white transparent

        h5
            font-weight: 500
            line-height: $line-height-default

        p
            font-size: 15px

        .person-network
            display: inline-block
            float: left
            padding-top: 85px

        .person-socials
            display: inline-block
            list-style: none
            margin-top: 47px
            margin-left: 25px
            border-left: 1px solid #eee
            padding-top: 10px
            padding-left: 25px
            li
                margin-bottom: 7px
                img
                    margin-right: 5px

/* Always at the end */

@import "media"
