@import "bourbon/bourbon"
@import "vars"
@import "base"


/* Header styles */
#header
    .logo
        padding-top: 15px
        a
            font-family: 'Lobster', cursive
            font-size: 34px
            color: $text-color-dark
            span
                color: $orange-dark

    .navbar
        padding: 30px 15px
        li
            display: inline-block
            margin-left: 20px
            a
                display: inline-block
                font-size: 14px
                transition: 0.4s
                &:focus, &:hover
                    color: $orange-dark
                    text-decoration: none
                    transition: 0.4s


/* Section Home styles */
#home
    position: relative
    background: url("../img/home_bg.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover
    height: 850px

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.65)

        h1
            padding-top: 9rem

        .home-btn
            margin-top: 55px
            margin-bottom: 135px
            .btn
                background-color: $orange-dark
                color: #ffffff
                &:hover
                    background-color: darken($orange-dark, 7%)

        .home-block
            p
                margin-top: 35px
                text-transform: uppercase


/* Section About Us styles */
#about
    height: 950px
    padding: 150px 15px
    .about-img
        display: inline-block
        position: relative
        &:before
            content: ''
            position: absolute
            display: block
            top: 0
            left: 0
            width: 100%
            height: 100%
            border: 10px solid rgba(0, 0, 0, 0.2)
            background: linear-gradient(to top, rgba(252, 95, 69, 0.29) 0%, rgba(0, 0, 0, 0) 100%)

    .about-content
        position: relative
        background-color: #fff
        margin-top: 60px
        padding: 60px 90px 80px
        overflow: hidden
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)

        .numeration
            top: 0
            left: 0

    table
        width: 100%
        td
            width: 25%
            height: 3px


/* Section Focus styles */
#focus
    padding: 0 0 130px 0
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

    .focus-block
        padding: 65px 25px
        margin-top: 80px
        img
            height: 45px


/* Section Awesomeness styles */
#awesomeness
    position: relative
    height: 500px
    background: url("../img/parallax_bg_1.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.65)
        h3
            margin-top: 130px
        p
            margin-top: 30px
            color: $text-color-light


/* Section Portfolio styles */
#portfolio
    background-color: $bg-color-body
    padding: 0 0 130px
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

    /*-- Hover effect on Portfolio items --*/

    .view
        max-width: 100%
        height: 100%
        margin: 10px
        float: left
        overflow: hidden
        position: relative
        text-align: center
        box-shadow: 1px 1px 10px #e6e6e6
        cursor: default

    .view .mask,
    .view .content
        max-width: 100%
        height: 100%
        position: absolute
        overflow: hidden
        top: 0
        left: 0

    .view
        img
            max-width: 100%
            display: block
            position: relative

    .view
        h4
            text-transform: uppercase
            color: #fff
            text-align: center
            position: relative
            line-height: $line-height-default
            padding: 10px
            background: rgba(0, 0, 0, 0.8)
            margin: 20px 0 0 0

    .view
        p
            font-family: "Poppins", sans-serif
            font-style: italic
            font-size: 12px
            position: relative
            color: #fff
            padding: 10px 5px 0
            text-align: center

    .view
        a.info
            display: inline-block
            text-decoration: none
            padding: 7px 22px
            line-height: $line-height-default
            background: $orange-dark
            color: #fff
            text-transform: uppercase
            box-shadow: 0 0 1px #000
            -webkit-border-radius: 25px
            -moz-border-radius: 25px
            border-radius: 25px

    .view
        a.info:hover
            box-shadow: 0 0 5px #000

    /*--------------------------------------*/

    .view-first
        img
            transition: all 0.2s linear

    .view-first
        .mask
            opacity: 0
            background-color: rgba(38, 39, 50, 0.65)
            transition: all 0.4s ease-in-out

    .view-first
        h2
            transform: translateY(-100px)
            opacity: 0
            transition: all 0.2s ease-in-out

    .view-first
        p
            transform: translateY(100px)
            opacity: 0
            transition: all 0.2s linear

    .view-first
        a.info
            opacity: 0
            transition: all 0.2s ease-in-out

    /*--------------------------------------*/

    .view-first:hover
        img
            transform: scale(1.1)

    .view-first:hover
        .mask
            border: 10px solid #fff
            opacity: 1

    .view-first:hover h2,
    .view-first:hover p,
    .view-first:hover a.info
        opacity: 1
        transform: translateY(0px)

    .view-first:hover
        p
            transition-delay: 0.1s

    .view-first:hover
        a.info
            transition-delay: 0.3s


/* Section Team styles */
#team
    padding: 0 0 130px 0
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

.person
    cursor: pointer
    background-color: #fff
    margin-top: 20px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)
    img
        border: 5px solid #ffffff
    h6
        margin-top: 20px

.person.current
    &:after
        content: ""
        position: absolute
        bottom: -18%
        left: 33%
        border-width: 50px
        border-style: solid
        border-color: transparent transparent white transparent
        z-index: 1

.person-about
    position: relative
    display: none

.person-about.current
    display: inherit
    margin-top: 50px
    padding: 75px 0 75px 75px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)

    h5
        font-weight: 500
        line-height: $line-height-default

    p
        font-size: 15px

    .person-network
        display: inline-block
        float: left
        padding-top: 85px

    .person-socials
        display: inline-block
        list-style: none
        margin-top: 47px
        margin-left: 25px
        border-left: 1px solid #eee
        padding-top: 10px
        padding-left: 25px
        li
            margin-bottom: 7px
            img
                margin-right: 5px


/* Section Results styles */
#results
    position: relative
    height: 500px
    background: url("../img/parallax_bg_2.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.65)

    .result-block
        padding-top: 140px
        img
            height: 48px
        span
            display: inline-block
            color: $text-color-light
            margin: 28px 0
            font-size: 20px
        p
            color: #fefefe

    .ic-orange
        height: 16px
        width: 15px
        background: url("../img/icons/sprite.png") 0 0


    .ic-green
        height: 16px
        width: 15px
        background: url("../img/icons/sprite.png") -15px 0

    .ic-purple
        height: 16px
        width: 15px
        background: url("../img/icons/sprite.png") -30px 0

    .ic-light_orange
        height: 16px
        width: 15px
        background: url("../img/icons/sprite.png") -45px 0


/* Section Steps styles */
#steps
    padding: 0 0 130px 0
    p
        margin-bottom: 0
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -85px

    img
        width: 100%

    .steps-descr
        position: absolute
        top: -60px
        left: 0
        .steps-descr-block
            position: relative
            padding: 70px 58px 42px 110px
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)
            span
                position: absolute
                top: 30px
                left: 40px
                font-family: "Libre Baskerville", $georgia
                font-size: 50px
                color: #e0e0e0
                &:after
                    position: absolute
                    top: 45px
                    left: 5px
                    content: ''
                    width: 84px
                    height: 1px
                    background-color: #e0e0e0
                    display: inline-block
                    -ms-transform: rotate(-45deg)
                    -webkit-transform: rotate(-45deg)
                    transform: rotate(-45deg)
                h4
                    margin-bottom: 15px
                p
                    margin-bottom: 0


/* Section Pricing styles */
#pricing
    padding: 0 0 130px 0
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

    .pricing-block
        padding: 35px 0
        background-color: #fff
        h5
            margin-bottom: 0
        .price
            display: inline-block
            color: #ffffff
            margin-bottom: 45px
            padding: 24px 16px 25px 13px
            border-radius: 50%
            box-shadow: 0 0 0 2px #fff inset
            span
                font-size: 25px
            p
                font-size: 13px
                line-height: 1.2
                margin-bottom: 0
        p
            margin-bottom: 12px

        p > span
            font-size: 15px
            color: #272727
            font-weight: bold

        p > .ic-checked
            height: 11px
            width: 11px
            margin-right: 10px
            background: url("../img/icons/checked.png") no-repeat 0 0

        .btn
            margin-top: 20px
            background-color: #ffffff

        .price-green
            background: $green-light
            border: 2px solid  $green-light

        .price-orange
            background: $orange-dark
            border: 2px solid $orange-dark

        .price-purple
            background: $purple
            border: 2px solid $purple

        .btn-starter
            padding: 11px 43px
            color: $green-light
            background-color: #ffffff
            border: 2px solid $green-light
            &:hover
                color: #ffffff
                background-color: lighten($green-light, 5%)

        .btn-ultimate
            background-color: $orange-dark
            color: #ffffff
            &:hover
                background-color: darken($orange-dark, 7%)

        .btn-pro
            padding: 11px 43px
            color: $purple
            background-color: #ffffff
            border: 2px solid $purple
            &:hover
                color: #ffffff
                background-color: lighten($purple, 5%)


/* Section Testimonials styles */
#testimonials
    position: relative
    height: 880px
    background: url("../img/testimonials_bg.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover
    color: #ffffff

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.85)
        h2
            color: #ffffff

    p
        color: #ffffff
        margin-bottom: 0

        .numeration
            position: relative
            top: 5px
            opacity: 0.3
            color: #5d5d62

    .container
        .row.relative
            top: -85px

    .carousel-item
        .testimonial-img
            position: relative
            width: 35%
            max-width: 100%
            float: left
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)

        .testimonial-block
            float: right
            width: 65%
            max-width: 100%
            padding-top: 30px
            .testimonial-content
                padding: 40px 75px

                p
                    color: $text-color-dark

                .signature
                    color: #272727
                    font-family: "Sacramento Regular", $helvetica
                    font-size: 40px

                .position
                    color: $orange-dark
                    font-size: 13px

    .carousel-indicators
        bottom: -20px
        left: 96%
        li
            width: 16px
            height: 16px

            &.active
                border: 1px solid $orange-dark
                background-color: $orange-dark
                box-shadow: 0 0 0 2px #3f4049 inset


/* Section Why Us styles */
#why-us
    padding: 0 0 130px 0
    p
        margin-bottom: 0
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -85px

    .why-us_block
        margin-bottom: 75px
        img
            display: inline-block

        h6
            display: inline-block
            vertical-align: middle
            margin-left: 15px
        p
            margin-top: 35px

    .journey
        margin-top: 75px
        h4
            display: inline-block
            vertical-align: sub
            margin-right: 25px

        .btn
            background-color: $orange-dark
            color: #ffffff
            &:hover
                background-color: darken($orange-dark, 7%)


/* Section Blog styles */
#blog
    padding: 0 0 130px 0
    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px


    .blog-block
        .blog-img
            position: relative
            .blog-author
                position: absolute
                left: 8%
                bottom: 7%
                span
                    text-transform: uppercase
                time
                    color: #ffffff
                    font-size: 13px

        .blog-content
            padding: 30px 50px 50px
            h5
                margin-bottom: 20px
                line-height: $line-height-default
            p
                margin-bottom: 0

    .blogs-block
        padding: 30px 35px
        margin-bottom: 29px

        .blog-author
            span
                text-transform: uppercase
            time
                font-size: 13px

        .blog-content
            h5
                margin: 10px 0
                line-height: $line-height-default
            p
                margin-bottom: 0


/* Section Subscribe styles */
#subscribe
    padding: 145px 5px
    h3
        color: #272727

    input[type="email"]
        padding-right: 45px
        background-color: #f7f7f7
        border: 2px solid #efefef
        border-top-left-radius: 25px
        border-bottom-left-radius: 25px
        outline: none

    input[type="submit"]
        margin-left: -5px
        background-color: $orange-dark
        color: #ffffff
        padding: 14px 43px 13px
        line-height: 1.4
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        &:hover
            background-color: darken($orange-dark, 7%)


/* Footer styles */
#footer
    padding: 0 0 130px 0
    position: relative
    background: url("../img/footer_bg.jpg") center repeat fixed
    -webkit-background-size: cover
    background-size: cover
    height: 1280px

    .cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(38, 39, 50, 0.65)

    p
        .numeration
            position: relative
            top: 5px

    .container
        .row.relative
            top: -100px

        h2, p
            color: #ffffff

            .form
                .form-group
                    textarea
                        padding: 0 150px

    .form-row
        margin-top: -50px
        .btn
            margin-top: 40px
            background-color: $orange-dark
            color: #ffffff
            &:hover
                background-color: darken($orange-dark, 7%)

    .footer-content
        margin-top: 140px
        background-color: #3f4049
        &_block
            height: 225px
            width: 25%
            padding: 60px 40px
            float: left

            &:first-child
                display: inline-block
                padding: 80px
                font-family: 'Lobster', cursive
                font-size: 34px
                a
                    color: #ffffff
                span
                    color: $orange-dark

            address
                margin-top: 20px
                color: #fef4f2

            .footer-social
                padding: 0
                list-style: none
                margin-top: 20px
                li
                    display: inline-block
                    margin-right: 10px


/* Always at the end */

@import "media"
